
* {
  margin: 2px;
  padding: 2px;
  font-family: Georgia;
}

body { max-width:70em; }

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  color: DarkBlue;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin-top: 0.5em;
  word-spacing: 0.3ex;
  display: block;
}

footer {
  position:absolute;
  top:1em;
  right:1em;
}

.input {
  width: 90%;
  margin: 10px;
}

.result {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
}

.pass {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: green;
}


.title {
  width: 100px;
  display: inline-block;
}

.title:after {
  content: ":";
}

.fail {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: red;
}

.output {
  background-color: whitesmoke;
  border: 1px dashed crimson;
  width: 95%;
  float: none;
  padding: 1em;
}

#domException, #urlException {
  color: Crimson;
}

#value {
  display: inline;
  width: 60%;
}
